@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family:'Roboto', monospace, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: "nav head"
                         "nav main";
    margin: 0;
}

nav {
    grid-area: nav;
    background-color: #1992d4;
}

header {
    grid-area: head;
    background-color: #ffffff;
}

main {
    grid-area: main;
    background-color: #e2e8f0;
}