@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: #e2e8f0;
    --accent-color: #1992d4;
    --secondary-color: #ffffff;
}

body {
    font-family:'Roboto', monospace, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: "nav head"
                         "nav main";
    margin: 0;
}


header {
    grid-area: head;
    background-color: var(--secondary-color);
}

main {
    grid-area: main;
    background-color: var(--background-color);
}

/* Navbar section styling */
nav {
    grid-area: nav;
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;
    align-content: start;
    row-gap: 2rem;
}

nav > div {
   display: grid;
   grid-template-columns: 1fr;
   grid-auto-rows: auto;
   padding: 1rem 2rem;
   gap: 1rem;
}

a.link-nav {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;

}

.icon-nav {
    width: 24px;
    height: 24px;
}

img {
    color: var(--secondary-color);
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(101%);
}
